<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks:home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks:task-list' %}">Todo List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks:tag-list' %}">Tag List</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="nav-link" style="padding: 0; border: none; background: none;">
                        Logout
                    </button>
                </form>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
</div>
