{% extends "base_generic.html" %}

{% block content %}
  <h1>Todo List</h1>
  <a href="{% url 'tasks:task-create' %}">Add new task</a>
  <ul>
    {% for task in task_list %}
      <li>
        {{ task.content }} - {% if task.is_done %}Done{% else %}Not Done{% endif %}
        <a href="{% url 'tasks:task-update' task.pk %}">Edit</a>
        <a href="{% url 'tasks:task-delete' task.pk %}">Delete</a>
        <a href="{% url 'tasks:task-toggle' task.pk %}">
          {% if task.is_done %}Undo{% else %}Complete{% endif %}
        </a>
      </li>
    {% empty %}
      <li>No tasks yet.</li>
    {% endfor %}
  </ul>
{% endblock %}
